#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-container {
  text-align: left;
}

.class-list {
  padding-inline-start: 24px;
}

.headshot {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid forestgreen;
}

.header {
  background-color: rgb(34, 139, 34, 0.9);
  padding: 30px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 20px;
  margin-bottom: 30px;
}

.app {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(34, 139, 34, 0.3);
  padding: 40px;
  border-radius: 20px;
}

.content {
  text-align: left;
}

.threeColumn {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  padding: 20px;
}

.navLink {
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
}

.contactContent {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  padding: 20px;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}